@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
/***************************************************/
/***************************************************/
/**********************BY JOE SUMBI*****************/
/***************************************************/
/***************************************************/

*{
    margin: 0;
    border: 0;
    text-decoration: none;
}
body{
  background-color: black;
  font-family: 'Playpen Sans', cursive;
}
 .header h1{
  font-family: 'Alumni Sans Collegiate One', sans-serif; 
  font-weight: 400;
  font-size: 72px;
   text-align: center;
   background-color: rgb(0, 0, 0);
   color: rgb(219, 241, 234);
 }
  /* animation: 
  typing 3.3s steps(40, end),
  blink-caret .75s step-end infinite;
}

/* The typing effect */
/*@keyframes typing {
from { width: 0 }
to { width: 100% }
}

/* The typewriter cursor effect */
/*@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: orange; }
}
*/
 
 .songs p, h4{
    margin-top: 1.5em;
    color: rgb(159, 239, 245);
 }

 a{
   color: rgb(248, 184, 99);
 }

 .beats{
  margin-top: 2em;
  margin-bottom: 15rem;
  text-align: center;
 }

 .beats h2{
  letter-spacing: 2px;
  font-family: 'Sedgwick Ave Display';
  font-size: 30px;
  color: goldenrod;
  margin-bottom: .2em;
 }
 
 .beats li{
   padding: 1rem;
 }
 .beats ul li{
   margin-top: .5em;
 }
 .beats a:hover{
   color:rgb(90, 31, 129);
 }

 .nxtprev {
  margin-left: 44%;
}
 .nxtprev a{
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.nxtprev a:hover {
  background-color: rgb(40, 40, 40);
  color: goldenrod;
}

.previous {
  background-color: gold;
  color: rgb(40, 40, 40);
}

.next {
  background-color:rgb(90, 31, 129);
  color: white;
}

.round {
  border-radius: 50%;
} 

footer{
  margin-top: 5em;
}
 footer p{
   background-color: rgb(31, 31, 31);
   font-family: 'Titillium Web', sans-serif;
   font-size: 16px;
   font-weight: 300;
   color: goldenrod;
   text-align: center;
 }